<!-- 추가 -->
{% load static %}
<!-- 추가끝 -->

<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <!-- 추가 -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/main_icon10.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/10000hours.css' %}">
        <script defer src="{% static 'js/10000hours.js' %}"></script>
        <title>매장정보보기</title>
        <!-- 추가끝 -->
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
/* 추가 */
        hr {
            height: 1px;
            background-color: black !important;
            border-color: black !important;
            color :black !important;
        }

        .count {
            font-family: 'GmarketSansMedium'!important;
            font-size: 16px !important;
            background-color: rgb(255, 255, 255) !important;
            color: rgb(0, 0, 0) !important;
        }
/* 추가끝 */

    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        #map_4e4c2f275d27c1f6f552368b03ff8581 {
                    /* 변경 */
                    text-align: center;
                    position: relative;
                    width: 70%;
                    height: 700px;
                    left: 0.0%;
                    top: 0.0%;
                    margin-left: 15%;
                    margin-right: 15%;
                    /* 변경끝 */
        }
    </style>

</head>

<body>

            <!-- 추가 -->
            <div>
    
                <div style="margin-left: 75px; margin-right: 75px; margin-top: 10px; margin-bottom: 0px; width: 90%;">
                    <a href="{% url 'mysite:base1' %}"><img src="{% static 'img/top10.png' %}" alt="홈페이지로고" width="100%" height="200" title="홈페이지로고"></a>
                </div>
        
                </div>
                <div style="text-align : center ;margin-bottom: 0px; margin-top: 0px;">
                <ul class="nav-container" style="text-align : center; height: 48px; margin-top: 5px; font-family: 'GmarketSansMedium'!important;">
                    <li class="nav-item"><a href="{% url 'mysite:base1' %}"><font size="4em" color="white" >HOME</font></a></li>
                    <li class="nav-item"><a href="{% url 'mysite:final' %}"><font size="4em" color="white">선택기록보기</font></a></li>
                    <li class="nav-item"><a href="{% url 'mysite:map' %}"><font size="4em" color="white">매장정보보기</font></a></li>
                    <li class="nav-item"><a href="{% url 'mysite:new_post' %}"><font size="4em" color="white">메뉴추천받기</font></a></li>
                    <li class="nav-item"><label for ="before"><font size="4em" color="white" font-family = "GmarketSansMedium">이전페이지</font></label><input type ="button" id="before"style="display:none; visiblity:hidden ;" onclick="history_back()"></li>
                </ul>
            </div>
    
            <script>
                function history_back() {
                    history.back();
                }
              </script>
        
            <div style="text-align : center; margin-bottom: 80px; margin-top: 80px;">
                <b><font size="12em" color="red">백철판0410</font><font size="10em" color="black"> 지도보기 </font></b>
            </div>
        
            <!-- 안내문 영역 -->
            <!-- <div style="text-align : center; margin-bottom: 40px;">
                <font size="5em" color="black"><b>지도 위 핀을 클릭하면<br><br>지점 주소, 전화번호, 운영시간 등 <br><br>다양한 정보 확인이 가능합니다</b></font>
            </div> -->
            <div style="text-align : center; margin-bottom: 20px;">
                <font size="3em" color="black"><b>지도 위 핀을 클릭하면 지점 주소, 전화번호, 운영시간 등 다양한 정보 확인이 가능합니다</b></font>
            </div>
            <!-- 추가끝 -->


    <div class="folium-map" id="map_4e4c2f275d27c1f6f552368b03ff8581"></div>

            <!-- 추가 -->
            <div class = "count" style="margin-top: 250px;">
                <div style="display: inline-block; margin-left: 100px;">누적 방문자수 : {{count}}명</div>
                <div style="display: inline-block; margin-left: 50px;">누적 추천횟수 : {{rec_count}}회</div>
            </div>
          
            <br>
            <div >
            <hr size="3px" width="90%">
            <section id="copyright">
                
                <p>
                    ※ 본 서비스의 저작권은 멀티캠퍼스 데이터사이언스/엔지니어링 3팀 식스시그마에 있습니다.<br>
                    수정 및 재배포, 무단 도용 시 법적인 문제가 발생할 수 있습니다.
                </p>
            </section>
            </div>
            <!-- 추가끝 -->
</body>
<script>


    var map_4e4c2f275d27c1f6f552368b03ff8581 = L.map(
        "map_4e4c2f275d27c1f6f552368b03ff8581",
        {
            center: [37.559819, 126.963895],
            crs: L.CRS.EPSG3857,
            zoom: 11,
            zoomControl: true,
            preferCanvas: false,
        }
    );





    var tile_layer_749e420160c1416e6a588dfe46f7e7ba = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        { "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_4e4c2f275d27c1f6f552368b03ff8581);


    var marker_bb9c4c5af23aa119297425d9c7767252 = L.marker(
        [37.5130282, 126.944421],
        {}
    ).addTo(map_4e4c2f275d27c1f6f552368b03ff8581);


    var icon_3d2b4bd018b134d675b4e9c4bc8b6439 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon" }
    );
    marker_bb9c4c5af23aa119297425d9c7767252.setIcon(icon_3d2b4bd018b134d675b4e9c4bc8b6439);


    var popup_bfba42ea48ab4815f6f0adb366dc561b = L.popup({ "maxHeight": 1000, "maxWidth": 1500, "minHeight": 700, "minWidth": 400, "src": "https://theborndb.theborn.co.kr/wp-content/uploads/20170825_085425.jpg" });



    var i_frame_19ca1d51199cd80b13e84eb0048a9fa2 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDI+67Cx7LKg7YyQMDQxMCDrhbjrn4nsp4Tsl63soJA8YnI+PGg0PjxiPuyghO2ZlOuyiO2YuDwvYj4gOiAwMi04MjUtMzMyNzxicj48YnI+PGI+7KeA7KCQ7KO87IaMPC9iPiA6IOyEnOyauOyLnCDrj5nsnpHqtawg66eM7JaR66GcIDEwOCwgMuy4tTxicj48YnI+PGI+7JiB7JeF7Iuc6rCEPC9iPiA6IDExOjAwIH4gMjM6MDAgPGJyPjxicj48aW1nIHNyYyA9ICdodHRwczovL3RoZWJvcm5kYi50aGVib3JuLmNvLmtyL3dwLWNvbnRlbnQvdXBsb2Fkcy8yMDE3MDgyNV8wODU0MjUuanBnJ3dpZHRoPSczMDAnIGhlaWdodD0nMjAwJz4=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
    popup_bfba42ea48ab4815f6f0adb366dc561b.setContent(i_frame_19ca1d51199cd80b13e84eb0048a9fa2);



    marker_bb9c4c5af23aa119297425d9c7767252.bindPopup(popup_bfba42ea48ab4815f6f0adb366dc561b)
        ;




    marker_bb9c4c5af23aa119297425d9c7767252.bindTooltip(
        `<div>
                     노량진역점
                 </div>`,
        { "sticky": true }
    );


    var marker_cf9aaea56ed880e053cd0625247bb93d = L.marker(
        [37.5409158, 127.0698537],
        {}
    ).addTo(map_4e4c2f275d27c1f6f552368b03ff8581);


    var icon_0bf93843d7f053bf6228ccbcf66840d0 = L.AwesomeMarkers.icon(
        { "extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon" }
    );
    marker_cf9aaea56ed880e053cd0625247bb93d.setIcon(icon_0bf93843d7f053bf6228ccbcf66840d0);


    var popup_02ba842418f84bd1f7ebd24d5112936e = L.popup({ "maxHeight": 1000, "maxWidth": 1500, "minHeight": 700, "minWidth": 400, "src": "https://theborndb.theborn.co.kr/wp-content/uploads/20210415_062407.png" });



    var i_frame_7d59391b947e93544153669ed00909be = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDI+67Cx7LKg7YyQMDQxMCDqsbTrjIDsl63soJA8YnI+PGg0PjxiPuyghO2ZlOuyiO2YuDwvYj4gOiAwMi00OTktMDQxMDxicj48YnI+PGI+7KeA7KCQ7KO87IaMPC9iPiA6IOyEnOyauOyLnCDqtJHsp4Tqtawg64+Z7J2866GcIDIy6ri4IDEwNSwg7KeA7ZWYMey4tTxicj48YnI+PGI+7JiB7JeF7Iuc6rCEPC9iPiA6IDExOjMwIH4gMjI6MDAgPGJyPjxicj48aW1nIHNyYyA9ICdodHRwczovL3RoZWJvcm5kYi50aGVib3JuLmNvLmtyL3dwLWNvbnRlbnQvdXBsb2Fkcy8yMDIxMDQxNV8wNjI0MDcucG5nJ3dpZHRoPSczMDAnIGhlaWdodD0nMjAwJz4=" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
    popup_02ba842418f84bd1f7ebd24d5112936e.setContent(i_frame_7d59391b947e93544153669ed00909be);



    marker_cf9aaea56ed880e053cd0625247bb93d.bindPopup(popup_02ba842418f84bd1f7ebd24d5112936e)
        ;




    marker_cf9aaea56ed880e053cd0625247bb93d.bindTooltip(
        `<div>
                     건대역점
                 </div>`,
        { "sticky": true }
    );

</script>

</html>